<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--postgresql dialect for dbms-->
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->

        <!--properties for db connection-->
        <!-- die 4 müssen über Porperty Datei laufen und wird in HibernateUtil.java überschrieben --> 
        <!-- TODO: funktioniert noch nicht (läuft noch über diese cfg)-->
        <!-- <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/test</property>
        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.connection.password">test</property> -->
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- for seeing logs of sql queries (good for errors)-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <!--Mapping class with annotated entries-->
        <mapping class="com.uni.entities.Adresse"/>
        <mapping class="com.uni.entities.AehnlicheProdukte"/>
        <mapping class="com.uni.entities.Angebot"/>
        <mapping class="com.uni.entities.AutorBuch"/>
        <mapping class="com.uni.entities.Buch"/>
        <mapping class="com.uni.entities.DVD"/>
        <mapping class="com.uni.entities.DVDPerson"/>
        <mapping class="com.uni.entities.Filiale"/>
        <mapping class="com.uni.entities.Kategorie"/>
        <mapping class="com.uni.entities.Kauf"/>
        <mapping class="com.uni.entities.KaufProdukt"/>
        <mapping class="com.uni.entities.KuenstlerCD"/>
        <mapping class="com.uni.entities.Kunde"/>
        <mapping class="com.uni.entities.MusikCD"/>
        <mapping class="com.uni.entities.Person"/>
        <mapping class="com.uni.entities.Produkt"/>
        <mapping class="com.uni.entities.ProduktKategorie"/>
        <mapping class="com.uni.entities.Rezension"/>
        <mapping class="com.uni.entities.Titel"/>
        
    </session-factory>
</hibernate-configuration>
